

  <div fxFlex class="datatable-container mat-elevation-z8" >
      
          <div fxLayout="row" >
      
            <div fxFlex fxLayoutAlign="start">
              <app-search-bar [query]="searchQuery$ | async" (search)="search($event)" ></app-search-bar>
            </div>
      
            <div fxFlex fxLayoutAlign="end" class="action-buttons">
          
                <button type="button" class="" mat-raised-button (click)="openDialogForm()" color="accent" matTooltip="Click to create new data" matTooltipPosition="above" >
                  <mat-icon>add</mat-icon>
                  Create
                </button>
            </div>
            
          </div>
            <mat-progress-bar *ngIf="isLoading$ | async"  color="primary" mode="indeterminate"></mat-progress-bar>
            <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortEvent($event)">
          
              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

              <ng-container matColumnDef="employmentStatusCode">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Code</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.employmentStatusCode}} </mat-cell>
              </ng-container>
  
              <!-- Project Name Column -->
              <ng-container matColumnDef="employmentStatusName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Employment Status</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.employmentStatusName}} </mat-cell>
              </ng-container>
          
          
              <!-- Action Column -->
              <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <button mat-raised-button color="accent" (click)="openUpdateDialogForm(row)">UPDATE</button>
                </mat-cell>
              </ng-container>
          
          
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator 
              [length]="pageLength$ | async"
              [pageSize]="pageSize$ | async"
              [pageIndex]="pageIndex$ | async"
              [pageSizeOptions]="pageSizeOptions"
              (page)="pageEvent($event)" >
            </mat-paginator>
        </div>
      
      
      