.search-container {
    width: 350px;
    margin: 10px;
    border: none;
}

input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    padding: 12px 20px 12px 10px;
    max-width: 100%;
    font-family: 'Roboto', 'Noto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: transparent;

}

input {
    outline: none;
}


@media screen and (max-width : 600px) {

    .search-container {
        width: 200px;
    }

    input[type=text] {
        height: 40px;
        box-sizing: border-box;
        padding: 12px 10px 12px 10px;
    }


}
