<mat-card>
    <form [formGroup]="contactForm" fxLayout="column" fxLayoutGap="20px">
    
        <mat-form-field fxFlex>
            <input matInput #pa maxlength="150" placeholder="Present Address" formControlName="presentAddress"  required>
            <mat-hint align="end">{{ pa.value?.length || 0}}/150</mat-hint>
            <mat-error >
                Present Address is required
            </mat-error>
        </mat-form-field>
        
        <mat-form-field fxFlex>
            <input matInput #pra maxlength="150" placeholder="Provincial Address" formControlName="provincialAddress"  required>
            <mat-hint align="end">{{ pra.value?.length || 0}}/150</mat-hint>
            <mat-error >
                Provincial Address is required
            </mat-error>
        </mat-form-field>

        <div fxFlex >
            <div fxLayout="row" fxLayout.xs="column">
                <mat-form-field fxFlex>
                    <input matInput #mob maxlength="50" placeholder="Mobile Number" formControlName="mobileNumber" required>
                    <mat-hint align="end">{{ mob.value?.length || 0}}/50</mat-hint>
                    <mat-error>
                        Mobile Number is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field fxFlex>
                    <input matInput #tel maxlength="50" placeholder="Telephone Number" formControlName="telephoneNumber" required>
                    <mat-hint align="end">{{ tel.value?.length || 0}}/50</mat-hint>
                    <mat-error>
                        Telephone Number is required
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div fxFlex fxLayoutAlign="center center">
            <button [disabled]="contactForm.invalid || contactForm.pristine" (click)="save()" mat-raised-button color="accent" type="button">Save Changes</button>
        </div>
    </form>
</mat-card>