<mat-card >
    <mat-vertical-stepper  linear="true">
      
          <mat-step [stepControl]="personalForm">
  
            <ng-template matStepLabel>Personal Information (Input <i>N/A</i> for optional * fields)</ng-template>
            <form [formGroup]="personalForm" fxLayout="column">
  
              <mat-form-field fxFlex >
                <input matInput #empNum maxlength="20" placeholder="Employee Number" formControlName="employeeNumber" appUniqueValidators keyUrl="employee/verify" required>
                <mat-hint align="end">{{ empNum.value?.length || 0 }}/20</mat-hint>
                <mat-error *ngIf="personalForm.get('employeeNumber').hasError('asyncInvalid')">
                    Employee Number is must be unique
                </mat-error>
                <mat-error *ngIf="personalForm.get('employeeNumber').hasError('required')" >
                  Employee Number is required
              </mat-error>
              </mat-form-field>
  
              <div fxLayout="row">
                <mat-form-field fxFlex>
                  <input matInput #fname maxlength="150" placeholder="First Name" formControlName="firstName" required>
                  <mat-hint align="end">{{ fname.value?.length || 0 }}/150</mat-hint>
                  <mat-error>
                    First Name is required
                  </mat-error>
                </mat-form-field>
        
                <mat-form-field fxFlex>
                  <input matInput #mname maxlength="150" placeholder="Middle Name" formControlName="middleName" required>
                  <mat-hint align="end">{{ mname.value?.length || 0 }}/150</mat-hint>
                  <mat-error>
                    Middle Name is required
                  </mat-error>
                </mat-form-field>
                    
                <mat-form-field fxFlex>
                    <input matInput #lname maxlength="150" placeholder="Last Name" formControlName="lastName" required>
                    <mat-hint align="end">{{ lname.value?.length || 0 }}/150</mat-hint>
                    <mat-error>
                      Last Name is required
                    </mat-error>
                </mat-form-field>
              </div>
  
              <div fxLayout="row">
  
                <mat-form-field fxFlex>
                  <input matInput [matDatepicker]="picker" placeholder="Birthday" formControlName="birthday" required>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-error>
                    Birthday is required
                  </mat-error>
                </mat-form-field>
  
                <mat-form-field fxFlex>
                  <input matInput #pob maxlength="150" placeholder="Place of Birth" formControlName="placeOfBirth" required>
                  <mat-hint align="end">{{ pob.value?.length || 0 }}/150</mat-hint>
                  <mat-error>
                    Place of Birth is required
                  </mat-error>
                </mat-form-field>
  
              </div>
              
              <div fxLayout="row">
  
                <mat-form-field fxFlex>
                  <mat-select placeholder="Civil Status" formControlName="civilStatus" required>
                    <mat-option *ngFor="let civil of civilStatuses" [value]="civil">{{civil}}</mat-option>
                  </mat-select>
                  <mat-error>
                    Civil Status is required
                  </mat-error>
                </mat-form-field>
  
                <mat-form-field fxFlex>
                  <input matInput #cit maxlength="50" placeholder="Citizenship" formControlName="citizenship" required>
                  <mat-hint align="end">{{ cit.value?.length || 0 }}/50</mat-hint>
                  <mat-error>
                    Citizenship is required
                  </mat-error>
                </mat-form-field>
  
                <mat-form-field fxFlex>
                  <input matInput #rel maxlength="150" placeholder="Religion" formControlName="religion" required>
                  <mat-hint align="end">{{ rel.value?.length || 0 }}/150</mat-hint>
                  <mat-error>
                      Religion is required
                  </mat-error>
                </mat-form-field>
  
              </div>
  
              <div fxLayoutAlign="center center">
                <button type="button" [disabled]="personalForm.invalid"  mat-raised-button color="primary" matStepperNext>NEXT</button>
              </div>
  
            </form>
  
          </mat-step>
      
          <mat-step [stepControl]="employmentForm">
              <ng-template matStepLabel>Employment Information</ng-template>
  
              <form [formGroup]="employmentForm" fxLayout="column">
                
                <div fxLayout="row">
                    <mat-form-field fxFlex>
                        <mat-select placeholder="Position" formControlName="positionId" required>
                          <mat-option *ngFor="let position of positions | async" [value]="position.positionId">{{position.positionName}}</mat-option>
                        </mat-select>
                        <mat-error>
                          Position is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="row">

                    <mat-form-field fxFlex>
                        <mat-select placeholder="Employment Status" formControlName="employmentStatusId" required>
                          <mat-option *ngFor="let emp of employmentStatus | async" [value]="emp.employmentStatusId">{{emp.employmentStatusName}}</mat-option>
                        </mat-select>
                        <mat-error>
                          Employment Status is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex>
                        <mat-select placeholder="Employee Status" formControlName="employeeStatusId" required>
                          <mat-option *ngFor="let es of employeeStatus | async" [value]="es.employeeStatusId">{{es.employeeStatusName}}</mat-option>
                        </mat-select>
                        <mat-error>
                          Employee Status is required
                        </mat-error>
                    </mat-form-field>

                </div>

                <div fxLayout="row">
                    
                  <mat-form-field fxFlex>
                    <input matInput [matDatepicker]="picker2" placeholder="Contract Start" formControlName="contractStart" required>
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                    <mat-error>
                      Contract Start is required
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field fxFlex>
                    <input matInput [matDatepicker]="picker3" placeholder="Contract End" formControlName="contractEnd" required>
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                    <mat-error>
                      Contract End is required
                    </mat-error>
                  </mat-form-field>
                    
                    
                </div>

  
                <div fxLayoutAlign="center center" fxLayoutGap="10px">
                  <button type="button"  mat-raised-button color="primary" matStepperPrevious>PREVIOUS</button>
                  <button type="button" [disabled]="employmentForm.invalid" mat-raised-button color="primary" (click)="submit.emit()" >SUBMIT</button>
                </div>
  
              </form>
  
          </mat-step>
      
        </mat-vertical-stepper>
  </mat-card>