<div class="login-card-container" *ngIf="isLoginPage | async">
  <form [formGroup]="loginForm">
    <mat-card fxLayout="column" fxLayoutAlign="start center">
      <mat-card-header >
        <mat-card-title>
          <h2 >LOGIN</h2>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/ipm-logo.png" class="logo" alt="Company Logo...">
      <mat-card-content >
      
        <mat-form-field>
          <input type="text" matInput  placeholder="Username" formControlName="username" required>
          <mat-icon matSuffix>person_pin</mat-icon>
          <mat-error>
            Username is required
          </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input type="password" matInput  placeholder="Password" formControlName="password" required>
            <mat-icon matSuffix>lock</mat-icon>
            <mat-error>
              Password is required
            </mat-error>
        </mat-form-field>

      </mat-card-content>
      <mat-card-actions >
          <button (click)="authenticate()" [disabled]="loginForm.invalid" mat-raised-button color="primary" class="login-button">LOGIN</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>