
<div fxLayout="column" class="app-container">
 
  <mat-sidenav-container (backdropClick)="onSidenavBackdropClick()" >

        <mat-sidenav *ngIf="!(isLoginPage$ | async)" [mode]="sidenavMode$ | async"  [opened]="isSidenavOpen$ | async"  align="start" class="sidebar-panel"> 
          <app-sidenav></app-sidenav>
        </mat-sidenav>

       
        <app-toolbar *ngIf="!(isLoginPage$ | async)" class="mat-elevation-z6"  ></app-toolbar>
        <app-breadcrumb *ngIf="!(isLoginPage$ | async)" class="mat-elevation-z6"></app-breadcrumb>
        
        <!-- Body -->
        <!-- This is where the routable content be injected -->
        <div class="main" [ngClass]="{ 'feature-container' : !(isLoginPage$ | async), 'login-container' : (isLoginPage$ | async)  }" [@fadeAnimation]="prepRouteState(routerOutletChild)">
          <router-outlet #routerOutletChild="outlet"></router-outlet>
        </div>
        <!-- End of Body -->
  </mat-sidenav-container>
 
  

</div>