<form [formGroup]="governmentForm" fxLayout="column" fxLayoutGap="20px">
    
      <div fxFlex >
          <div fxLayout="row" fxLayout.xs="column">
              <mat-form-field fxFlex>
                  <input matInput placeholder="SSS Number" formControlName="sssNumber" required>
                  <mat-error>
                      SSS Number is required
                  </mat-error>
              </mat-form-field>
  
              <mat-form-field fxFlex>
                  <input matInput placeholder="PAG-IBIG Number" formControlName="pagIbigNumber" required>
                  <mat-error>
                      PAG-IBIG Number is required
                  </mat-error>
              </mat-form-field>
          </div>
      </div>


      <div fxFlex >
          <div fxLayout="row" fxLayout.xs="column">
              <mat-form-field fxFlex>
                  <input matInput placeholder="PHILHEALTH Number" formControlName="philHealthNumber" required>
                  <mat-error>
                      PHILHEALTH Number is required
                  </mat-error>
              </mat-form-field>
  
              <mat-form-field fxFlex>
                  <input matInput placeholder="TIN Number" formControlName="tinNumber" required>
                  <mat-error>
                      TIN Number is required
                  </mat-error>
              </mat-form-field>
          </div>
      </div>
  
      <div fxFlex fxLayoutAlign="center center">
          <button [disabled]="governmentForm.invalid || governmentForm.pristine" (click)="save()" mat-raised-button color="accent" type="button">Save Changes</button>
      </div>
  </form>