<div class="navigation no-scroll">
    
    <div class="logo-container" fxLayout="row" fxLayoutAlign="center center">
        <img src="assets/ipm-logo.png" class="app-logo" alt="">
    </div>

    <div class="overflow-content">
        <div class="user">
            <div class="user-photo">
                <img [src]="profileImage | async" alt="">
            </div>
            <span class="user-name">
                <mat-icon class="icon-small">lock</mat-icon>
                {{ profileName | async }}
            </span>
            <span *ngIf="(role | async) == 1" class="select-project" matTooltip="Select a Project" matTooltipPosition="right">
                <app-project-select></app-project-select>
            </span>
        </div>   
    
           
        <mat-nav-list>
            <div *ngFor="let link of links$ | async" >
                <h2 *ngIf="link.isHeader" class="list-header">{{ link.title | uppercase }}</h2>

                <mat-list-item *ngIf="!link.isHeader" [routerLink]="link.link" routerLinkActive="active">
                    <mat-icon  matListIcon>{{link.icon}}</mat-icon>
                    <a class="list-item">{{ link.title | uppercase }}</a>
                </mat-list-item>
            </div>
        </mat-nav-list> 

    </div>
</div>
