
<form [formGroup]="projectForm">

    <h2 align="center" mat-dialog-title>Project</h2>
    <mat-dialog-content>

        <mat-form-field>
        <input matInput  placeholder="Code" formControlName="projectCode" appUniqueValidators keyUrl="projects/verifyCode" keyId="{{ getCurrentId() }}" required>
        <mat-error *ngIf="projectForm.get('projectCode').hasError('asyncInvalid')">
            Project Code must be unique
        </mat-error>
        <mat-error *ngIf="projectForm.get('projectCode').hasError('required')">
                Project Code is required
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput formControlName="projectName" placeholder="Name" required>
            <mat-error>
                Project Name is required
            </mat-error>
        </mat-form-field>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        
        <button mat-raised-button [disabled]="projectForm.invalid || projectForm.pristine" (click)="submitForm()" color="accent">Save</button>
        <button mat-raised-button (click)="closeDialog()" color="warn">Cancel</button>
    
    </mat-dialog-actions>

</form>

